@page "/category"

@inject IJSRuntime _jsRuntime
@inject ICategoryRepository _categoryRepository

<_DeleteConfirmation OnDeleteConfirm="@HandleConfirmDelete" IsParentComponentProcessing="@IsLoading" />
<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="category/create" class="btn btn-primary form-control">Add New Category</a>
    </div>
    <div class="col-12 mt-4">
        @if (Categories.Count() > 0)
        {
            <table class="table table-bordered border-dark">
                <thead>
                    <tr class="bg-dark text-white">
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Categories)
                    {
                        <tr>
                            <td>@category.Name</td>
                            <td>
                                <NavLink href="@($"/category/edit/{category.Id}")" class="btn btn-sm btn-primary">Edit</NavLink>
                                <button class="btn btn-sm btn-danger"
                                        @onclick="() => ShowDeleteConfirmationModal(category.Id)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                <_Loader />
            }
            else
            {
                <p class="text-center">No categories found</p>
            }
        }
    </div>
</div>

@code {
    private IEnumerable<CategoryDto> Categories { get; set; } = new List<CategoryDto>();
    private bool IsLoading { get; set; }
    private int DeleteCategoryId { get; set; } = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await LoadCategoriesAsync();               
        }
    }

    private async Task LoadCategoriesAsync()
    {
        IsLoading = true;
        StateHasChanged();

        Categories = await _categoryRepository.GetAllAsync();

        IsLoading = false;        
        StateHasChanged();
    }

    private async Task ShowDeleteConfirmationModal(int id)
    {
        DeleteCategoryId = id;
        await _jsRuntime.InvokeVoidAsync("showDeleteConfirmationModal");
    }

    private async Task HandleConfirmDelete(bool isConfirmed)
    {
        if(isConfirmed && DeleteCategoryId != 0)
        {
            IsLoading = true;
            
            // Delete category from the database
            await _categoryRepository.DeleteAsync(DeleteCategoryId);
            await LoadCategoriesAsync();
            await _jsRuntime.InvokeVoidAsync("hideDeleteConfirmationModal");

            IsLoading = false;
        }
    }
}
