<div class="row">
    <div class="col-12 placeholder-glow">
        <span class="placeholder col-4"></span>
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-7"></span>
    </div>
</div>